body{
    background-color: whitesmoke;

}
.cadastrar-usuario{
    color: brown;
    font-size: 50px;
    text-align: left;
}
.titulo-padrao {
    font-size: 50px;
    background-color: rgb(94, 66, 31);
    padding: 20px 0;
    color:white ;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
 .center{
    text-align: center;
    margin-top: 20%;
 }

.botao{

    width: 150px;
    height: 65px;
    gap: 20px;
    margin-top: 30px;
  
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; 
}
th, td { 
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left;
}
th { 
    background-color: #f4f4f4; 
}
