<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="cadastrar-usuario">cadastro</h1>
    <button onclick="adicionar_usuario()">adicionar usuario</button>
    <input type="text", id="adicionar cliente", placeholder="Nome">
    <input type="email", id=" email", placeholder="E-mail">
    

    <h2>LISTAS DE USUARIOS</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>alterações</th>
            </tr>
        </thead>
        <tbody id="listaUsuarios"></tbody>
    </table>
    

   
</body>
</html>