<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylecad.css') }}">
</head>
<body>
    <div class="card">

            <h1>Cadastro de Usuário</h1>

    {% if mensagem %}
        <p style="text-align:center; color: green;">{{ mensagem }}</p>
    {% endif %}

    <form method="POST" style="text-align:center;">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <div class="senha-container">
            <input type="password" name="senha" id="senha" placeholder="Senha" required>
            <span class="toggle-senha" onclick="toggleSenha()">👁️</span>
        </div>
        <button type="submit">Cadastrar Usuário</button>
        
    </form>

    <h2>Lista de Usuários</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="listaProduto">
            <tr>
                <td></td> 
                <td></td>
                <td>
                    <button onclick="Editar()">Editar</button>
                    <button onclick="Excluir()">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <script>
        function toggleSenha() {
            const senhaInput = document.getElementById("senha");
            const tipoAtual = senhaInput.getAttribute("type");
            senhaInput.setAttribute("type", tipoAtual === "password" ? "text" : "password");
        }
    </script>
    
</body>
</html>

