<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="card">
        <h1 class="titulo-padrao">Sistema de Cadastro</h1>

        <p class="subtitulo">Escolha uma das opções abaixo para continuar:</p>

        <div class="botoes-home">
            <a href="{{ url_for('app.cadastro_usuario') }}" class="botao">Cadastro de Usuário</a>
            <!-- dica: como estamos usando o flask, para que funcione corretamente, precisa ser desse jeitp-->
            <a href="{{ url_for('app.cadastro_produto') }}" class="botao">Cadastro Produto</a>
            <!--<a href="#" class="botao">Cadastro de Produto</a> -->
        </div>
    </div>

</body>
</html>

