<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleprod.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleprod.css') }}">
</head>
<body>
    <div class="card">
        <button onclick="window.history.back()" class="botao" style="margin-top: 20px;">Voltar</button>
        <h1 class="titulo-padrao">Cadastro de produto</h1>
        
        {% if mensagem %}
        <p style="text-align:center; color: green;">{{ mensagem }}</p>
    {% endif %}

        <form method="POST" style="text-align:center;">
            <input type="text" name="nome" placeholder="Nome do produto" required>
            <input type="text" name="marca" placeholder="Marca" required>
            <input type="date" name="data" placeholder="Data de validade" required>
            <input type="number" name="quantidade" placeholder="Quantidade" min="0" required>
            <input type="number" name="preco" placeholder="Preço" step="0.01" min="0" required>
            <button type="submit">Adicionar Produto</button>
        </form>

        <h2>LISTAS DE PRODUTO</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Nome do produto</th>
                    <th>marca</th>
                    <th>quantidade</th>
                    <th>validade</th>
                    <th>preço</th>
                    <th>alterações</th>
                </tr>
            </thead>
            <tbody id="listaUsuarios">
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.marca }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.validade }}</td>
                    <td>R$ {{ "%.2f"|format(produto.preco) }}</td>
                    <td>
                        <a href="{{ url_for('app.editar_produto', id=produto.id) }}">
                            <button>Editar</button>
                        </a>
                        <a href="{{ url_for('app.excluir_produto', id=produto.id) }}">
                            <button>Excluir</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>